* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
}
.seccion-principal {
    height: 100vh;
    background: url("resources/background.svg") no-repeat center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo {
    position: absolute;
    top: 30px;
    left: 40px;
}

.logo img {
    width: 100px;
}
.texto-principal {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}
.texto-principal h1 {
    font-size: 48px;
    font-weight: 700;
}
.texto-principal p {
    margin-top: 15px;
    font-size: 18px;
    opacity: 0.9;
}

.formulario {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 30px;
    border-radius: 20px;
    width: 700px;
}

.fila {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.grupo {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.grupo label {
    color: white;
    margin-bottom: 8px;
    font-size: 14px;
}
.grupo input,
.grupo select,
textarea {
    padding: 14px;
    border-radius: 12px;
    border: none;
    background: #eaeaea;
    font-size: 14px;
}
textarea {
    resize: none;
    height: 120px;
}
.completo {
    width: 100%;
    margin-bottom: 20px;
}
button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 14px;
    background: white;
    color: #5a3fc0;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ddd;
}